html {
    font-family: $font-stack-helvetica;
    font-size: 16px;
}


a {
    cursor: pointer;
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

ul,li {
    list-style-type: none;
}

.main-container {
    max-width: 100%;
}

@media #{$desktop} {
    .mob {
        display: none !important;
    }
    .main-container {            
        width: rem(1200);    
        margin: auto;
    }
}

@media #{$mobile} {
    .desk {
        display: none !important;
    }
    .main-container {        
        padding: 0 rem(20);
        text-align: center;
    }
}